nb_lines=2
nb_launcher=4
extra_spacing=0
has_tooltips=true
has_labels=false

[launcher_4]
command=xflock4
name=Lock
icon_id=16

[launcher_3]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_2]
command=xfce4-appfinder
name=Applications
icon_id=3

[launcher_1]
command=xfhelp4
name=Help
icon_id=5

